<%- include('../partials/header')%>

<link href="/css/teacherHome.css" rel="stylesheet" />

<body>
    <%- include('../partials/homeHeaderBar')%>

    <div class="col-2">
        <ul class="nav nav-pills flex-column">            
            <li class="nav-item">
                <a href="/home" class="nav-link">
                    <i class="bi bi-arrow-left"></i>
                    Back
                </a>
            </li>
        </ul>
    </div>

    <div class="container mt-3">
        <%story.comments.forEach(function(comment){%>
            <div class="card w-100 p-2">
                <div class="d-flex align-items-center">
                    <i class="bi bi-person-circle me-2"></i>
                    <p class="h5">
                        <%=comment.commenter.name%>
                    </p>
                </div>
                <p>
                    <%=comment.comment%>
                </p>
                <i class="text-secondary">2022/08/06</i>
            </div>
        <%})%>
    
        <form class="w-100 d-flex mt-4" method="post" action="/story/<%=storyID%>/comment">
        <input name="comment" placeholder="Enter commit here..." class="form-control"/>
        <button class="btn btn-info text-white d-flex">
            <i class="bi bi-send-fill me-2"></i>
            Send
        </button>
    
    </div>
</body>